/*espacios*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.profile {
   /* width: 103%;*/
  /*  height: 35rem;*/
    text-align: center;
    margin:20px 0px;
    position: relative;
    background-image: url("./images/Group99.svg");
    background-size: 100rem;
    background-repeat:no-repeat;
    background-position: center center;
 

}

.profile1 {
    background-image: url("./images/Group99.svg");
    background-size: 84rem;
    background-repeat:no-repeat;
    background-position: center center;
    /*width: 103%;
    height: 104%;*/
    z-index: auto;
    position: absolute;
   /*-webkit-background-size: cover !important;*/*/
    
}

.gisel  {
    height: 300px;
   /* width: 300px;*/
    object-fit: contain;
   /* margin-top: 40%;*/
    border-radius: 50%;
   
}


/* vectores*/
.float  {
    position: absolute;
    width: 110%;
    background-image: url("./images/Group98.svg");
    background-repeat:no-repeat;
    background-position: center center;
    height: 50%;
  /* -webkit-background-size: cover !important;*/
    background-size: 107%;
   
       
}




.float2 {
    float: right;
    position: absolute;
    right: -110px !important;

}

.float2 img {
    max-width: 70%;
    max-height: 70% ;
}

.float3 {
   float: left;
   position: absolute;
   left: -50px !important;


}

.float3 img {
    max-width: 70%;
    max-height: 70% ;
}


p {
    padding: 1rem;
}
/*#mainheader {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 5%;
    

}*/

.main footer {
    text-align: center;
    padding: 50px;
    height: auto;
    width: 100%;
}


/*main section*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}

span {
    background:rgba(0, 0, 0, 0.4);
    display:block;
    padding-top:5px;
    color:gray;
    font-size:1.7rem ;
}



h4 {
    font-size: 1.8rem;
    color: gray;


}

h6 {
  font-family: Arial, Helvetica, sans-serif ;
  color: gray;
  font-size: 1rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    width: 100%;
    text-align-last: center;
    text-align: center;
 
}

/*classes*/
.container {
    margin: auto;
    max-width: 1300px;
    padding: 40px 20px;


}

.container3 {
    margin: auto;
    max-width: 1300px;
    margin-top: 28rem;
    
}


.container4 {
    margin: auto;
    width: 100%;
    height: auto;
    padding-top: 6rem;
}

.containerskills {
    text-align: center;
    width: 100%;
}

.large {
    font-size: 1.25rem;
}

/*menu*/
/* NAVBAR */
.hidden {
    display: none;
}

nav {
    text-align: right;
    padding: 1rem 3rem;
    background-color: black;
    position: relative;
}

nav ul {
    list-style: none;
    text-align: center;
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    z-index: 999;
    padding: 1rem;
}

nav ul li {
    padding: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem 0;
}

nav button {
    border: 0;
    background-color: transparent;
}

/*show case*/
#showcase {
    text-align: center;

}

#showcase-row {
    display: flex;
    text-align: center;
     

}
.showcase-row-img {
      text-align: center;
}

/*kills*/
h3{
    text-align: left;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    border-radius:160px;
    border:20px solid #403735;
    background-color: #403735;

}

.wrapper {

    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 10rem);
    grid-gap: 20px;
    grid-auto-rows: 60px;
    grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b";
}

.contentskills {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.skills-row-left-1 {
    grid-area: a;
}

.skills-row-right-2 {
    grid-area: b;
    align-self: start;
}

.wrapper2 {
    display: grid;
    margin: 60px 0;
    text-align: center;
    grid-template-columns: repeat(7, 10rem);
    grid-gap: 20px;
    grid-auto-rows: 60px;
    grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b";
        
}

.skills-row-left-3 {
    grid-area: a;
 }

.skills-row-right-4 {
    grid-area: b;
    align-self: start;
}
      
.skills-row-left-text {
    text-align: center;
}

/*timeline*/

.timeline {
    width: 100%;
    height: auto;
    text-align: center;
}

.timeline {
    display: block;
    padding: 30px;
    width: 90%;
    height: auto;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20%;
}

.timeline-row {
    width: 100%;
    height: auto;
    margin: 03px 0px 10px 0px;
    border-bottom: 1px solid gray;
    padding: 0px 30px;
}

.timeline-row-tag {
    width: 40%;
    height: auto;
    display: inline-block;
}

.timeline-row-text {
    width: 40%;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
}

/*portafolio*/
.slider-container{
    text-align: center;
    width: 100%;
}

.slider-item {
    transition: transform .2s; 
    width: 400px;
    height: 260px;
    z-index: 999;
    border: 1px solid gray;
    margin: 30px 10px;
   }
    

.slider-item:hover {
    transform: scale(1.7);
}

/*contacto*/

.overflow {
    width: 70px;
    height: 70px;
    border-radius:40px;
    border:2px solid  white;
}

.containercontacto {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-top: 40px;

}

.contacto {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}

.containertime {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.containers {
    width: 30px;
    height: 30px;
}

/*media queries*/

/* // Small devices (landscape phones, 576px and up) */
/*@media (max-width: 460px) { 
    .gisel {
        margin-top: 40%;
}
}

@media (max-width: 882px) { 
    .gisel {
        margin-top: 20%;
}
}

@media (max-width: 988px) { 
    .gisel {
        margin-top: 18%;
}
}

@media (max-width: 454px) { 
    .gisel {
        margin-top: 80%;
}
}

@media (max-width: 360px) { 
    . {
        margin-top: 70%;
}
}
*/

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #ul-nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #ul-nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
        padding: 0;
    }
    nav button{
        display: none;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #ul-nav li {
        margin-left: 3rem;
    }

}
 @media (max-width: 9922px) { 
        .gisel {
            margin-top: 13%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media (max-width: 410px) {
    .timeline-row-tag {
        width: 50%;
    }
    .timeline-row-text {
        width: 50%;
    }
    .slider-item {
        width: 295px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }


}
